<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Milk</title>
    <link rel="stylesheet" href="../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sun/milky.css">
    <script src="../static/vendors/js/vendor.bundle.base.js"></script>
    <script src="../static/vendors/js/vendor.bundle.addons.js"></script>
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/misc.js"></script>
    <script src="../static/js/dashboard.js"></script>
</head>
<body>
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-flower"></i>
              </span>
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>奶茶菜单
                    <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 14rem;">
                <img src="../static/images/milk/kafei10001.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">经典咖啡</h5>
                    <p>规格</p>
                    <a href="#" class="btn btn-primary">下单</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>