<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="../static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sun/pagination.css">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/sun/order.js"></script>
</head>
<body>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">订单表</h4>
                    <p class="card-description">
                        <code>查询订单</code>
                    </p>
                    <form class="forms-sample">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="queryName">订单标识</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="name" id="queryName"
                                               placeholder="订单号、姓名、手机号、奶茶品种">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-inverse-info mr-2" id="button-search">查询
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered" id="table" data-toggle="table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>订单号</th>
                            <th>订单-姓名</th>
                            <th>订单-手机号码</th>
                            <th>下单方式</th>
                            <th>是否有效</th>
                            <th>单价</th>
                            <th>个数</th>
                            <th>总费用</th>
                            <th>实际付费</th>
                            <th>日期</th>
                        </tr>
                        </thead>
                        <tbody id="order-table-data">
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" class="my-pagination">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019
            <a href="" target="_blank">https://github.com/huaisun/ahstu-graduation</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
            <i class="mdi mdi-heart text-danger">
            </i> - More Templates
            <a href="http://www.hauisun.club/" target="_blank" title="Wei-Xiao-Shop">Wei-Xiao
            </a> - Collect from
            <a href="http://www.hauisun.club/" title="Huai_Sun" target="_blank">huaisun</a>
        </span>
    </div>
</footer>
</body>
</html>