<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaisun.graduation.order.mapper.OrderMapper">
    <select id="searchOrderAndUser" parameterType="com.huaisun.graduation.order.form.OrderForm"
            resultType="com.huaisun.graduation.order.entity.OrderEntity">
        SELECT
        O.ID AS id,
        U.NAME AS name,
        O.CREATE_DATE AS createDate,
        O.valid as valid,
        O.COST AS cost
        FROM t_order O
        LEFT JOIN t_user U ON O.U_ID = U.ID
        <where>
            <if test="name != null and name!=''">
                instr(U.name, #{name}) or instr(O.ID,#{name})
            </if>
        </where>
        ORDER BY O.CREATE_DATE desc
    </select>
</mapper>